
.ion_toolbar{
border-radius: 20px;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
    margin: 0px 0px 0px;
    padding: 27px 0px 20px 0;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 8px 14px 0;
  }
  .received_withd_msg { width: 90%;}
  .mesgs {
    float: left;
    width: 70%;
  }
  
   .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 20px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  
  .sent_msg {
    float: right;
    width: 70%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }
  
  .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .messaging { padding: 0 0 50px 0;}
  
  .msg_history {
    overflow-y: auto;
  }
  
  .hidden {
    display: none;
  }
  


  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }


  .example-card {
    max-width: 200px;
    max-height: 300px;
  }
  

  .sent_img {
    float: right;
  }

///// Nuevo
  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }

  .sent_msg {
    float: right;
    width: 75%;
  }

  .time_date_res {
    color: rgba(255, 255, 255, 0.74);
    display: block;
    font-size: 12px;
    margin: 1px 0 2px;
  }

  .time_date2 {
    color: red;
    display: block;
    font-size: 12px;
    font-style: normal;
    margin: 8px 14px 0;
    
  }

  .rojo span, .rojo .sc-ion-action-sheet-md {
    color: red !important;
}

.send_res {
  background: #05718fcb none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0; 
  color:rgba(255, 255, 255, 0.74);
  padding: 5px 10px 5px 12px;
  width:100%;
  border: 5px solid #05728f;
}


.received_withd_msg_res {
  background: #ebebeb28 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;  
  color: #646464d7;
  padding: 5px 10px 5px 12px;
  width: 100%;
  border: 5px solid #ebebeb;
}

.fab-color{
      /*border-style: solid;
      border-radius: 50%;
      border-width: 2px;
      border-color: rgba(24, 170, 36, 0.712);*/
     //size: 10%;
      width: 30px !important;
      height: 30px !important;
      top: 100px;
     // background-color: rgba(24, 170, 36, 0.712);
}