

.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form {
    --border-radius: 20px;
    
}   

ion-content{
  --background: url('/assets/icon/fond2.png') center  no-repeat ;
}

//  rgb(100, 98, 98)